<nav>
  <a href="/">🏠</a>

  

  <div>
    <% if (user) { %>
      <a href="/events/new">ADD EVENT</a>
      <a href="/vb-users/edit">EDIT EVENT</a>
      <a href="/vb-users/delete">DELETE EVENT</a>
      <a href="/auth/sign-out">SIGN OUT</a>
      <span>
        <%= user.name %>
      </span>
      <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
        <% } %>
  </div>
</nav>