<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Velvet Book</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <%- include('../partials/_navbar') %>

    <!-- Why is there an "all unicorns button"? 
       Does this make sense for my app as it 
       is a 1 user to many entries app? -->

    <!-- <a href="/unicorns">ALL UNICORNS</a> -->