<%- include('./partials/header.ejs') %>

<main>
<h1>Home</h1>
<p> The Velvet Book is your personal secure system for tracking your
    events, gigs, regularly scheduled performances, and more. You can add, 
    edit, and delete, entries all in one place.

    As an initial VIP user, you will have FREE access to all new updates
    coming this year. Including the ability to see helpful charts, share exported 
    data with your accountant, and add special patron notes.

    Welcome to the only book you'll need to be the CEO performer you already are!
</p>
</main>


<%- include('./partials/footer.ejs') %>