<%- include('./partials/header.ejs') %>

<main>
<h1>Home</h1>
<p> The Velvet Book is a personal secure system for tracking
    events, gigs, regularly scheduled performances, and more. 
    <br>
    <br>
    With built in features like view all, add, edit, and delete, keeping entries is simple.
<br>
<br>
    As an initial VIP user, you will have FREE access to all new updates
    coming this year including features like: 
    <ul>
        <li style="text-align: left;">comparison charts</li>
        <li style="text-align: left;">export data for bookkeepers</li>
        <li style="text-align: left;">add special patron notes</li>
    </ul>
<br>
<br>
    Welcome to the only book you'll need to be the CEO performer you already are!
</p>
<div>
    <img src="/images/homepage.jpeg" alt="Book on nightstand. Photo credit to Bradyn Shock." style="width: 300px; height:auto">
</div>
</main>


<%- include('./partials/footer.ejs') %>