<%- include('./partials/header.ejs') %>

    <main>
        <h1>The Velvet Book</h1>
        <p> Welcome to your personal, secure financial tracking system —
            designed by a performer, for performers.
            <br>
            <br>
            Track every gig, event, and shift with ease. From house fees to tips,
            The Velvet Book makes managing your money simple, discreet, and empowering, by allowing
            you to add, edit, view, and delete entries effortlessly.
            <br>
            <br>
            As a VIP early user, you will get
            free access to all new features launching this year.
        <ul>
            <li style="text-align: left;">📊 Visualize your earnings and expenses with powerful comparison tools</li>
            <li style="text-align: left;">📤 Export your data for taxes, bookkeeping, or business planning</li>
            <li style="text-align: left;">💋 Leave notes on patrons, venues, and special moments
                to remember what worked (or did not work)</li>
        </ul>
        Whether on stage, on set, or online, The Velvet Book 
        enables you to focus on what you do best. 
        <strong>Track like a boss. Perform like a star.</strong>
        </p>
        <div>
            <img src="/images/homepage.jpeg" alt="Book on nightstand. Photo credit to Bradyn Shock."
                class="responsive-img">
        </div>
    </main>


    <%- include('./partials/footer.ejs') %>