* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #e5e2f4;
}

nav,
footer {
  background-color: #927fbf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
  font-size: 2vh;
  color: black;
}

nav a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;

  &:hover {
    color: gray;
    background-color: #4f3b78; 
    color: white;
  }
}

nav span {
  font-size: 1.5vmin;
  color: black;
}

.button-style {
  text-decoration: none;
  background-color: #4f3b78;
  color: white;
  padding: 1vmin;
  border-radius: 1vmin;
  border: none;
  cursor: pointer;
  font: inherit;

  transition: background-color 0.2s, color 0.2s;
}

.button-style:hover {
  color: black;
  background-color: white;
}

.username-style {
  font-weight: bold;
  color: #4f3b78;
  background-color: white;
  padding: 0.5vmin 1vmin;
  border-radius: 1.5vmin;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

input,
textarea,
select {
  border: 0.3vmin solid black;
}

form button[type='submit'] {
  grid-column: span 2;
}

button:hover {
  background-color: lightslategray;
  color: white;
}



.error-msg {
  color: rgb(223, 116, 116);
}